.entry__container {
  display: flex;
  align-items: center;
  justify-content: center;
  perspective-origin: center;
  /* height: 100vh; */
}

.entry__content {
  height: 60vh;
  width: 60vw;
  position: relative;
  padding: 5em;
  animation: turn 5s linear 1 forwards;
  transform-style: preserve-3d;
  border: black double 10px;
  background: white;
}

.entry__front,
.entry__back {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  display: grid;
  place-items: center;
}

.entry__front {
  text-align: center;
}
.entry__back {
  transform: rotateY(0.5turn);
}

.entry__name {
  font-size: 3rem;
  transform: translate3d(-200%, 0, 6rem);
  animation: fade-right 3s linear 7s forwards;
}

.entry__info {
  transform-style: preserve-3d;
  display: inline-block;
  padding: 2em;
}

.entry__greet {
  text-align: center;
}

.entry__greet,
.entry__position,
.entry__skills {
  opacity: 0;
  font-size: 1.5em;
  transform: translateZ(4rem);
  animation: fade-in 2s ease-in 5s forwards;
}

.entry__logo {
  /* background: pink; */

  transform: translateZ(6rem);
}
