.project {
  display: grid;
  width: 400px;
  border: 2px red solid;
  grid-template-columns: 200px 200px;
  grid-template-rows: 200px 200px;
}

.project__image {
  width: 200px;
  height: 200px;
  grid-column: 1 / 1;
  grid-row: 1 / 2;
}

.project__title {
  grid-column: 2 / 2;
  grid-row: 1 / 1;
}

.project__description {
  grid-column: 2 / 2;
  grid-row: 2 / 2;
}
