.choices {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.choices__info,
.choices__journey {
  align-items: center;
  width: 50%;
  height: 100%;
  color: white;
  display: flex;
  justify-content: center;
  text-decoration: none; /* no underline */
}

.choices__header {
  pointer-events: none;
}

.choices__info {
  background-color: var(--dark-blue);
}

.choices__journey {
  background-color: var(--light-blue);
}
