.choices {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.choices__info,
.choices__journey {
  align-items: center;
  width: 50%;
  height: 100%;
  border: red solid;
  color: tan;
  display: flex;
  justify-content: center;
}
